@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@600&family=Libre+Baskerville:wght@700&family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');

* {
  font-family: 'Lora', serif;
}

a { 
  color: #a52a2a;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  background-color: #ffffff;
  color: #1a1921;
  margin: 60px auto;
  width: 1080px;
}

h1 {
  font-family: 'Inknut Antiqua', serif;
  font-variant: small-caps;
  font-size: 3em;
  border-bottom: 2px solid #7f7f7f;
  text-align: center;
  margin-top: 0;
}

h2 {
  font-family: 'Inknut Antiqua', serif;
  font-variant: small-caps;
}  

h3 {
  font-family: 'Libre Baskerville', serif;
  font-variant: small-caps;
}

p strong:only-child {
  font-size: 1.5em;
  font-style: italic;
}

p strong:not(:only-child) {
  font-variant: small-caps;
}
