{% include base.html %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{{ site.name }} | {{ page.title }}</title>
  <link rel="stylesheet" href="{{base}}/css/normalize.css">
  <link rel="stylesheet" href="{{base}}/css/site.css">
</head>

<body>
  <header>
    <a href="{{base}}"><img src="{{base}}/logo.svg" alt="Compendium of the Down Logo"></header></a>
  </header>
  <main>{{ content }}</main>
  <footer>
    <p><a href="http://creativecommons.org/licenses/by-sa/4.0/"><img src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" alt="License"></a><p>
  </footer>
</body>

</html>
